@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Matemasie&family=Rowdies:wght@300;400;700&display=swap');
html{
    scroll-behavior: smooth;
}

/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

/* VARIABLES */
:root{
    --BGCOLOR-TOP: #FEFEFE;
    --BGCOLOR-MID-TOP: #498cff;
    --BGCOLOR-MID-BOT: #003083;
    --BGCOLOR-BOT: #001841;
}

/* UTILITIES */
.nowrap{
    white-space: nowrap;
}

/* ELEMENTS */
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--BGCOLOR-TOP), var(--BGCOLOR-MID-TOP), var(--BGCOLOR-MID-BOT), var(--BGCOLOR-BOT));
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-family: "Rowdies", sans-serif;
    padding-top: 0.5rem;
}

header img{
    width: clamp(45px, 15vw, 60px);
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(84, 84, 84);
}
header nav{
    text-decoration: none;
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
header li{
    font-size: clamp(0.8rem, 4vw, 1.1rem);
    width: fit-content;
    padding: 0px 4px;
}
header a{
    color: black;
}
header a:hover, a:focus{
    color: rgba(0, 0, 0, 0.678);
    transform: scale(120%);
}
main{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}
main h1{
    width: 85%;
    text-align: center;
    font-size: 2.3rem;
    font-family: "Rowdies", sans-serif;
    margin-bottom: 25px;
    text-shadow: 3px 3px 5px whitesmoke;
}
main section{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
main h2{
    font-family: "Matemasie", sans-serif;
    font-size: clamp(2.8rem, 15vw, 4rem);
    letter-spacing: 0.2rem;
    text-align: center;
}
footer{
    height: 100px;
    width: 100%;
    position: relative;
    font-family: "Rowdies", sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
footer .wave{
    background: url(wave.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 1000px 110px;
    background-repeat: repeat-x;
    z-index: -1;
    animation: wave linear 3s infinite;
}
@keyframes wave {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

.bubbles{
    background-color: hsla(0, 0%, 100%, 0.74);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px white;
    position: absolute;
    bottom: -25px;
    z-index: -1;
}
.bubbles1{
    animation: bubbles1 8s ease-in 1s infinite;
}
.bubbles2{
    animation: bubbles2 8s ease-in 8s infinite;
}
.bubbles3{
    animation: bubbles3 8s ease-in 4s infinite;
}
.bubbles4{
    animation: bubbles4 8s ease-in 6s infinite;
}
.bubbles5{
    animation: bubbles5 8s ease-in 2s infinite;
}
.bubbles6{
    animation: bubbles6 8s ease-in 5.5s infinite;
}
.bubbles7{
    animation: bubbles7 8s ease-in 5s infinite;
}
.bubbles8{
    animation: bubbles8 8s ease-in 7s infinite;
}
.bubbles9{
    animation: bubbles9 8s ease-in 3s infinite;
}


@keyframes bubbles1 {
    0%{
        transform: translate(5vw, 0);
    }
    100%{
        transform: translate(5vw, -500vh);
    }
}
@keyframes bubbles2 {
    0%{
        transform: translate(15vw, 0);
    }
    100%{
        transform: translate(15vw, -500vh);
    }
}
@keyframes bubbles3 {
    0%{
        transform: translate(25vw, 0);
    }
    100%{
        transform: translate(25vw, -500vh);
    }
}
@keyframes bubbles4 {
    0%{
        transform: translate(40vw, 0);
    }
    100%{
        transform: translate(40vw, -500vh);
    }
}
@keyframes bubbles5 {
    0%{
        transform: translate(50vw, 0);
    }
    100%{
        transform: translate(50vw, -500vh);
    }
}
@keyframes bubbles6 {
    0%{
        transform: translate(60vw, 0);
    }
    100%{
        transform: translate(60vw, -500vh);
    }
}
@keyframes bubbles7 {
    0%{
        transform: translate(70vw, 0);
    }
    100%{
        transform: translate(70vw, -500vh);
    }
}
@keyframes bubbles8 {
    0%{
        transform: translate(80vw, 0);
    }
    100%{
        transform: translate(80vw, -500vh);
    }
}
@keyframes bubbles9 {
    0%{
        transform: translate(90vw, 0);
    }
    100%{
        transform: translate(90vw, -500vh);
    }
}

.bubbles-container{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    overflow: hidden;
}


/* MODIFIERS */
#home{
    scroll-margin-top: 5rem;
    justify-content: center;
}
#home img{
    width: min(65vw, 250px);
    height: auto;
    border-radius: 50%;
    border: 5px double black;
    margin-bottom: 20px;
    margin-top: -80px;
}
#home p{
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    font-family: "Inconsolata", monospace;
    font-weight: 420;
}

#about-me{
    padding: 30px 25px;
    gap: 3rem;
}
#about-me h2{
    color: rgb(206, 228, 255);
    text-shadow: 2px 2px 7px black;
}
#about-me div{
    padding: 1rem;
    background-color: #002b76;
    border-radius: 5px;
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%);
}
#about-me p{
    text-indent: 1rem;
    font-family: "Inconsolata", monospace;
    font-size: 1.2rem;
    text-align: justify;
    color: whitesmoke;
    line-height: 1.7rem;
}

#projects{
    padding: 30px 0px 90px 0px;
    gap: 3rem;
}

#projects h2{
    color: rgb(189, 217, 255);
    text-shadow: 2px 2px 7px black;
}
.projects-container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 3rem;
}
.projects-item{
    width: clamp(200px, 65vw, 300px);
    height: clamp(155px, 49vw, 210px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 3px;
    background-color: #0042b3;
    padding: 5px;
    color: whitesmoke;
    box-shadow: 0px 0px 18px black;
    text-transform: uppercase;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-size: clamp(0.8rem, 3.5vw, 1rem);
}
.projects-item img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #0042b3;
}
.projects-item:hover, .projects-item:focus{
    transform: scale(110%);
    transition: transform ease 0.4s;
}



/* SCREEN SIZES */
@media screen and (min-width: 481px) {
    
}


/* 1025px pc
481px tablet
481px cp 

MAX SIZES
MOBILE 320x568 - 480


*/
